/lab01/nbproject/private/
/lab01/build/
/lab02/nbproject/private/
/lab02/build/
/lab05/nbproject/private/
/lab05/build/
/sql-tests/
/project1_SIS_Console_441004887/
/lab06/nbproject/private/
/lab06/build/
/Lab07/nbproject/private/
/Lab07/build/
/Assignment1/nbproject/private/